body {
  margin: 0%;
  padding: auto;
  background: blueviolet;
}
.caja {
  width: 400px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(0, 0, 0);
  text-align: center;
}
.resultado {
  transform: translate(-0%, -450%);
  padding: 0px 0px 25px;
  background-color: gainsboro;
}
.segundacaja {
  display: flex;
  transform: translate(0%, 30%);
  padding: 0px 5px 8px 40px;
  justify-content: center;
  background-color: rgb(175, 180, 170);
}
form {
  columns: 2;
}
input {
  background: black;
  color:white;
  padding: 5px;
  transform: translate(100%, 110%);
}
label {
  text-align: center;
  padding: 0px 25px 25px 25px;
}
.total {
  text-align: center;
  padding: 0px 5px 10px 5px;
}
button {
  text-align: center;
  outline: none;
  color: rgb(255, 254, 254);
  border-radius: 20px;
  background: rgb(119, 111, 111);
  cursor: pointer;
  padding: 1em 4em 0.5em 2.5em;
}
.total{
    padding: 1em 6em 0.8em 2.5em;
}
form button:hover {
  background: red;
}
